<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a href="#sass">Sass</a></li>
      <li><a href="#badges">Components</a></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="./assets/img/foto1.jpg">
      </div>
      <a href="#user"><img class="circle" src="./assets/img/foto2.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li>
      <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header">Menu</a>
            <div class="collapsible-body">
              <ul>
                <li><a class="sidenav-close" href="#Primero">Primero</a></li>
                <li><a class="sidenav-close" href="#Segundo">Segundo</a></li>
                <li><a class="sidenav-close" href="#Tercero">Tercero</a></li>
                <li><a class="sidenav-close" href="#Cuarto">Cuarto</a></li>
              </ul>
            </div>
          </li>
        </ul>
  </li><br>

</ul>

<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider" tabindex="-1"></li>
  <li><a href="#!">three</a></li>
  <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
  <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
</ul>



<br>
<br>
<br>
